body, html {
    height: 100%;
    background-color: #F9A72C;
    font-family: 'Noto Sans KR', sans-serif;
}

/* content-block */

.page-contents {
    height:70%;
    padding: 1%;
    background-color:#F9A72C;
}

#content-main-img {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}


/* nav-block */

.page-nav {
    width: 98%;
    height: 6%;
    background-color: #E09728;
    display: flex;
}

#nav-text-hyper:link, #nav-text-hyper:visited {
    color: white;
    text-decoration: none;
}

#nav-text-hyper:hover {
    color: #000000;
}

#nav-text {
    width: 30%;
    height: 100%;
    text-align: center;
    margin: auto;
    font-size: 16pt;
    color: white;
    display: inline-block;
}

/* footer-block */
.page-footer {
    width: 98%;
    height: 5%;
    display: flex;
}

#footer-text {
    display: inline-block;
    color: white;
    font-size: 10pt;
    max-width: 30%;
    width: 150pt;
    margin-left: 20pt;
    line-height: 3.5em;
}

#footer-dummy {
    width: 45%;
    display: inline-block;
}

#footer-image {
    max-width: 25%;
}

#googleplay {
    width: 60%;
}